.card {
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.card:hover {
  transform: scale(1.05); /* Increase the size slightly on hover */
}

.row > [class^='col-'] {
  padding-bottom: 10px; /* Adjust this value as needed */
}

.card-img-top {
  height: 200px; /* Adjust this height as needed */
  object-fit: cover; /* Keeps the image aspect ratio */
}

.card-title {
  margin-top: 10px; /* Adjust this margin as needed */
}

.card-text {
  margin-bottom: 10px; /* Adjust this margin as needed */
}

.card-link {
  text-decoration: none;
  color: #007bff; /* Set the initial link color */
  transition: color 0.3s ease, transform 0.3s ease; /* Add smooth transition */
}

.card-link:hover {
  color: purple; /* Change the link color on hover */
  transform: scale(1.1); /* Grow the link text by 10% on hover */
}
