.card {
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.card:hover {
  transform: scale(1.05); 
}

.row > [class^='col-'] {
  padding-bottom: 10px; 
}

.card-img-top {
  height: 200px; 
  object-fit: cover; 
}

.card-title {
  margin-top: 10px; 
}

.card-text {
  margin-bottom: 10px; 
}

.card-link {
  text-decoration: none;
  color: #007bff; 
  transition: color 0.3s ease, transform 0.3s ease; 
}

.card-link:hover {
  color: purple; 
  transform: scale(1.1); 
}
