body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  color: #f8f9fa; /* Light gray color for text */
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

