body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  color: #f8f9fa; 
}


.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  width: 100%; /* Full width */
  
}
/* Adjust styles for smaller screens */
@media (max-width: 768px) {
  .main-content {
        padding: 20px;
  }

 
}