body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  color: #f8f9fa; /* Light gray color for text */
}

/* Style for the main content area */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Adjust as needed */
  align-items: center;
  width: 100%; /* Full width */
  /* Adjust the padding or margin as needed */
}

/* Additional global styles can go here */
@media (max-width: 768px) {
  .main-content {
    /* Adjust styles for smaller screens */
    padding: 20px;
  }

  /* Other responsive adjustments can go here */
}